.home {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: #fff;
  margin-top: 50px;
  position: relative;
  padding-bottom: 150px;
}

.search-bar-container {
  width: 100%;
  height: 80px;
  background-color: #f9f9f9;
}

.search-bar {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  color: rgb(36, 35, 42);
  font-size: 16px;
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  /* background: rgb(251, 251, 251); */
  transition: all 0.1s ease 0s;
}

.search-bar:focus {
  outline: none;
  border: 2px solid #1282d6;
}
 

.filter {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  justify-content: center;
  }



  .category input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .category label {
    width: 150px;
    height: 60px;
    background-color: #eef0f4;
    font-weight: 600;
    padding: 10px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-bottom: 1px solid #dbdbdb;
  }

   .category input[type=checkbox]:checked + label {
    color: #fff;
    background-color: rgba(96, 206, 253, 0.837);
  }

  @media screen and (max-width: 768px) {
    /* .home {
       width: 100%;
       margin-top: 0;
    } */

    .search-bar { 
      width: 80%;
    }

    .filter {
      flex-direction: column;
      flex-wrap: wrap;
    }

    .category {
      width: 100%;
    }

    .category label {
      width: 100%;
      background-color: #eef0f4;
      font-weight: 600;
      padding: 10px 8px;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    .home {
       width: 100%;
       margin-top: 0;
    }
  }

